html, body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    color: rgb(94, 0, 94);
}

.nav-link {
    margin-right: 30px;
    color: rgb(94, 0, 94);
}

.nav-link:hover {
    border-bottom: 2px solid rgb(94, 0, 94);
    color: rgb(255, 0, 255);
}

.testing {
    background-image: url(img/jmb-bg.jpg);
    /* background-size: cover; */
    height: 640px;
    background-color: violet;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}